.PricingFooter_container{
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    .footer_text{
        h4{
            font-size: 35px;
            color: #fff;
        }
    }
    .footer_btn{
        display: flex;
        flex-direction: column;

        #get_started_btn{
            background: #8c58ff;
            border: 1px solid #8c58ff;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            color: #ffffff;
            margin: 20px 0 0 50px;
          }
        #get_contact_btn{
            background: transparent;
            border: 1px solid #fff;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            color: #ffffff;
            margin: 20px 0 0 50px;
          }
    }

     // for mobile 
     .footer_text_for_mobile{
        display: none;

    }
    .footer_contact_info_for_mobile{
        display: none;
    }
    .footer_btn_for_mobile{
        display: none;
    }

}

@media only screen and (max-width: 767px) {
    .PricingFooter_container{
        // display: flex;
        // justify-content: center;
        display: block;
        padding: 50px 0;
        .footer_text{
            h4{
                font-size: 14px;
                color: #fff;
                text-align: center;
                margin: 0px 0 20px 0;
                // display: none;
            }
        }
        .footer_btn{
            display: flex;
            flex-direction: column;
    
            #get_started_btn{
                background: #8c58ff;
                border: 1px solid #8c58ff;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                color: #ffffff;
                // margin: 0px 0 0 20px;
                margin: auto;
                font-size: 12px;
                width: 200px;
                padding: 10px 0;
              }
            #get_contact_btn{
                background: transparent;
                border: 1px solid #fff;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                color: #ffffff;
                // margin: 10px 0 0 20px;
                margin: 20px auto;
                font-size: 12px;
                width: 200px;
                padding: 10px 0;
                
              }
        }

        // for mobile 
        .footer_text_for_mobile{
            // display: block;
            text-align: center;
            h4{
                font-size: 18px;
                color: #fff;
            }
        }
        .footer_contact_info_for_mobile{
            display: none;
            // display: flex;
            justify-content: center;
            padding: 10px 0;
            img{
                width: 20px;
                height: 20px;
                margin: 0 10px;
            }
            p{
                color: #fff;
                font-size: 14px;
            }
        }

        .footer_btn_for_mobile{
            display: none;
            // display: flex;
            flex-direction: column;
            
            
    
            #get_started_btn{
                background: #8c58ff;
                border: 1px solid #8c58ff;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                color: #ffffff;
                margin: auto;
                font-size: 12px;
                width: 200px;
                
              }
            #get_contact_btn{
                background: transparent;
                border: 1px solid #fff;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                color: #ffffff;
                font-size: 12px;
                width: 200px;
                margin: 15px auto;
                // margin: 20px 0;
                text-align: center;
              }
            #get_speak_btn{
                background: transparent;
                border: 1px solid #fff;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                color: #ffffff;
                margin: auto;
                font-size: 12px;
                width: 200px;
              }
        }
    
    }
}