.web_content_eight_container{
    text-align: center;
    margin: 50px 0 100px 0;
    h1{
        font-family: MADE Outer Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 60px;
        line-height: 70px;
        text-align: center;
        color: #ffffff;
        margin-bottom: 0 !important;
        
    }
    input{
        background: #8C58FF;
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        padding: 10px 40px;
        margin: 50px 0 0 0;


    }
}

@media only screen and (max-width: 767px) {
    .web_content_eight_container{
        text-align: center;
        margin: 0px 0 60px 0;
        h1{
            font-family: MADE Outer Sans;
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 30px;
            text-align: center;
            color: #ffffff;
            margin-bottom: 0 !important;
        }
        input{
            background: #8C58FF;
            color: #ffffff;
            font-size: 14px;
            font-weight: 400;
            padding: 8px 30px;
            margin: 20px 0 0 0;
    
        }
    }
}