.footer_container {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  padding: 2rem 0;
  background-color: black;
  
  .top_sec {
    // margin: auto;
    // text-align: center;
    Row{
      display: flex;
      justify-content: center;
      
      // text-align: center;
    }
    
    padding: 2rem;
    #first_link_container{
      text-align: start;
    }
    #second_link_container{
      text-align: end;
    }
    .links_container {
      margin: 0 80px;
      // text-align: start;
      h6 {
        font-family: MADE Outer Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 19px;
        color: #b3b2b2;
        margin-bottom: 2rem;
      }
      p {
        font-family: MADE Outer Sans;
        font-style: normal;
        // font-weight: bold;
        font-size: 22px;
        line-height: 19px;
        color: #ffffff;
        a {
          text-decoration: none;
          color: #ffffff !important;
        }
      }
    }
    .btn_container {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        background: #8c58ff;
        border: 1px solid #8c58ff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 7px;
        font-family: MADE Outer Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #ffffff;
        padding: 10px 1rem;
      }
    }
  }
  .bottom_sec {
    padding: 2rem 2rem 0;
    p {
      font-family: MADE Outer Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      line-height: 19px;
      text-align: center;
      color: #ffffff;
    }
  }
}

@media only screen and (max-width: 767px) {
  .footer_container {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    padding-bottom: 2rem;
    background-color: black;
    .top_sec {
      padding: 2rem;
      .links_container {
        h6 {
          font-family: MADE Outer Sans;
          font-style: normal;
          font-weight: bold;
          font-size: 15px;
          line-height: 19px;
          color: #b3b2b2;
          margin-bottom: 2rem;
        }
        p {
          font-family: MADE Outer Sans;
          font-style: normal;
          font-weight: bold;
          font-size: 15px;
          line-height: 19px;
          color: #ffffff !important;
          a {
            text-decoration: none;
            color: #ffffff !important;
          }
        }
      }
      .btn_container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 1rem;
        button {
          background: #8c58ff;
          border: 1px solid #8c58ff;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 7px;
          font-family: MADE Outer Sans;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          text-align: center;
          color: #ffffff;
          padding: 10px 1rem;
        }
      }
    }
    .bottom_sec {
      padding: 2rem 2rem 0;
      p {
        font-family: MADE Outer Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 19px;
        text-align: center;
        color: #ffffff;
      }
    }
  }
}
