.contentTwo{
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 2rem 0;
    zoom: 90%;
    .top_header {
      h1 {
        font-family: MADE Outer Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 60px;
        line-height: 77px;
        text-align: center;
        color: #ffffff;
        margin-bottom: 0 !important;
      }
      h2{
        font-family: MADE Outer Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 77px;
        text-align: center;
        color: #ffffff;
        margin-bottom: 0 !important;

      }
    }
    .content_container{
        margin: 0 100px;
        display: flex;
        justify-content: space-between;
        padding: 50px 0;

        .content_inner{
            color: #ffffff;
            text-align: start;
            align-self: center;
            margin: 0 60px;

            input{
                background: #8C58FF;
                color: #ffffff;
                font-size: 30px;
                font-weight: 400;
                padding: 10px 40px;

            }

        }
        
    }
}