.Web3ContentFour{
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 2rem 0;
    zoom: 100%;
    .top_header {
      // h1 {
      //   font-family: MADE Outer Sans;
      //   font-style: normal;
      //   font-weight: bold;
      //   font-size: 60px;
      //   line-height: 77px;
      //   text-align: center;
      //   color: #ffffff;
      //   margin-bottom: 0 !important;
      // }
    //   h2{
    //     font-family: MADE Outer Sans;
    //     font-style: normal;
    //     font-weight: bold;
    //     font-size: 36px;
    //     line-height: 77px;
    //     text-align: center;
    //     color: #ffffff;
    //     margin-bottom: 0 !important;

    //   }
    }
    .content_container{
        margin: 0 100px;
        display: flex;
        justify-content: space-between;
        padding: 50px 0;

        .content_inner{
            color: #ffffff;
            text-align: start;
            align-self: center;
            margin: 0 30px;

            h1{
                font-family: MADE Outer Sans;
                font-style: normal;
                font-weight: bold;
                font-size: 40px;
                line-height: 77px;
                text-align: start;
                color: #ffffff;
                margin-bottom: 0 !important;
                
              }

              h4{
                font-family: MADE Outer Sans;
                font-style: normal;
                // font-weight: bold;
                font-size: 20px;
                line-height: 40px;
                text-align: start;
                color: #ffffff;
                // margin: 0 50px 0 0;
                
                // margin-bottom: 0 !important;
        
              }

            input{
                background: #8C58FF;
                color: #ffffff;
                font-size: 16px;
                font-weight: 400;
                padding: 10px 40px;

            }

        }
        .img_container{
          img{
            width: 400px;
            // height: 400px;
          }
          input{
            background: #8C58FF;
            color: #ffffff;
            font-size: 14px;
            font-weight: 400;
            padding: 10px 30px;
            margin: 50px 0 0 0;
            display: none;

        }
        }
        
    }
}

@media only screen and (max-width: 767px) {
  .Web3ContentFour{
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 1rem 0;
    zoom: 100%;
    .top_header {
      h1 {
        font-family: MADE Outer Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 34px;
        line-height: 50px;
        text-align: center;
        color: #ffffff;
        padding: 0 8px;
        margin-bottom: 0 !important;
      }
    //   h2{
    //     font-family: MADE Outer Sans;
    //     font-style: normal;
    //     font-weight: bold;
    //     font-size: 22px;
    //     line-height: 50px;
    //     text-align: center;
    //     color: #ffffff;
    //     margin-bottom: 0 !important;

    //   }
    }
    .content_container{
        // margin: 0 100px;
        margin: auto;
        display: flex;
        justify-content: center;
        padding: 20px 0;
        flex-direction: column;

        .content_inner{
            color: #ffffff;
            text-align: center;
            align-self: center;
            // margin: 50px 20px;
            margin: auto;

            h1{
                font-family: MADE Outer Sans;
                font-style: normal;
                font-weight: 400;
                font-size: 22px;
                line-height: 40px;
                text-align: center;
                color: #ffffff;
                margin-bottom: 0 !important;
                
        
              }

              h4{
                font-family: MADE Outer Sans;
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                text-align: center;
                color: #ffffff;
                margin-bottom: 0 !important;
        
              }

            input{
                background: #8C58FF;
                color: #ffffff;
                font-size: 14px;
                font-weight: 400;
                padding: 10px 30px;
                display: none;

            }

        }

        .img_container{
          img{
            width: 100%;
            
          }
          input{
            background: #8C58FF;
            color: #ffffff;
            font-size: 14px;
            font-weight: 400;
            padding: 8px 30px;
            margin: 50px 0 0 0;
            display: block;
            margin: auto;

        }
        }
        
    }
}
  
}